<div style="padding-bottom: 40px">
  <a id="findme_icon" href="https://www.facebook.com/dtlinley" style="background-image: url('../images/facebook.png')"></a>
  <a id="findme_icon" href="http://www.steamcommunity.com/id/dtlinley" style="background-image: url('../images/steam.png')"></a>
  <a id="findme_icon" href="http://lnkd.in/ggYZfy" style="background-image: url('../images/linkedin.png')"></a>
  <a id="findme_icon" href="https://github.com/dtlinley" style="background-image: url('../images/github.png')"></a>
</div>
